@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color:rgb(255,255,255);
  font-family: sans-serif;
}

.main {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 2em 2em,
    #50c5ee 60%,
    rgba(0,212,255,0.5)
  );
  min-height: calc(100vh - 60px);
  margin: .9em;
  padding: .9em;
  color:black;
  border-radius: 1.1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.main div{
  display: flex;
  justify-content: center;
  color: black;
}

.topbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color:#85d7f3;
  width: 15rem;
  height: 2rem;
  border-radius: 1.2rem;
  align-self: center;
  justify-self: center;
}

.buscar__paleta{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#idPaleta {
  padding: 0.5rem;
  width: 80%;
  border: none;
  border-radius: 0.2rem;
  
}

#idPaletaButton {
  background-color: transparent;
  background-image:url(./images/pngwing.com.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #464545;
  padding: 0.4rem;
  margin-left: .3rem;
  border-radius: 0.2rem;
  width: 3rem;
  height: 2.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

#idPaletaButton:hover {
  background-color: #706f6f;
  color: #ffffff;
}

.default-button{
  border: none;
  border-radius: .3rem;
  padding: .5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 12rem;
  
  transition: all 0.3s ease-in-out;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px){
  .main__container{
    justify-content: unset;
  }
}

.content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem 3rem;
}

#contentList{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1220px){
  .content{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px){
  .content{
    grid-template-columns: 1fr;
  }
}

.paletaItem{
  font-family: 'Exo';
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-between;
}

.paletaItem{
  margin: 20px 0;
  
}

@media (max-width: 400px) {
  .paletaItem{
    width: 210px;
    height: 180px;
  }
}

.paletaItem div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

div.paletaItem__sabor{
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

div.paletaItem__descricao{
  font-size: 0.85em;
}

div.paletaItem__preco{
  color: rgb(148, 0, 211);
}

.paletaItem__img{
  height: 150px;
  margin-right: -60px;
}

.modal-overlay1, .modal-overlay2{
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header, #modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00d4ff80 100%
  );
  padding: 1rem;
}

.close-modal{
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.close-modal:hover{
  transform: scale(1);
}

.modal-body{
  padding: 2rem 1rem;
}

.modal-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body div input, textarea{
  width: 100%;
  padding: .5rem;
  font-size: .8rem;
  outline: none;
  border: solid 1px #ccc;
  margin-bottom: .4rem;
  border-radius: .3rem;
}

.modal-body div button {
  padding: .5rem;
  font-size: 1rem;
  background-color: transparent;
  color: #0097ce;
  border: solid 1px #0097ce;
  border-radius: .3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-body div button:hover{
  background-color: #0097ce;
  color: #fff;
}

#modal-body{
  width: 100%;
}

.button-modal-create{
  display: flex;
  justify-content: flex-end;
}


.paletaItem__acoes{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 15rem;
  margin-top: 1rem;
}

.btn{
  border: none;
  border-radius: .3rem;
  padding: .2rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 5rem;
  
  transition: all 0.3s ease-in-out;
}

.acoes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.acoes__editar{
  color:#003cff;
  border: solid 1px #003cff;
  background-color: transparent;
  margin-bottom: .3rem;
  
}

.acoes__editar:hover{
  color:#fff;
  background-color: #003cff;
}

.acoes__apagar{
  color:#ff0000;
  border: solid 1px #ff0000;
  background-color: transparent;
}

.acoes__apagar:hover{
  color:#fff;
  background-color: #ff0000;
}